<div class="pt-2 pb-2">
    <div class="p-2 d-flex align-items-center" style="width:200px;">
        Display Name:
    </div>

    <div class="d-flex">

      <div class="p-2 d-flex align-items-center">
        <em>{{ userName }}</em>
      </div>

      <div class="p-2 d-flex align-items-center" *ngIf="!rename">
        <button (click)="showRename()" class="btn btn-light btn-sm btn-floating"><i class="far fa-edit"></i></button>
      </div>
      
      <div *ngIf = "rename" class="p-2 d-flex align-items-center">
          <form class="row gy-2 gx-3 align-items-center">
              <div class="col-auto">
                <div class="form-outline">
                  <input type="text" name="newProfileName" id="newProfileName" class="form-control" />
                  <label class="form-label" for="newProfileName">Name to be displayed</label>
                </div>
              </div>
              
              <div class="col-auto">
                <button type="submit" class="btn btn-dark btn-sm btn-floating"><i class="far fa-save"></i></button>
              </div>
            </form>
      </div>
    </div>
    
    
</div>