<div class="vh-100 vw-100">
    <div
class="d-flex align-items-center justify-content-center p-5 vh-100 vw-100"
style="height: 100%;"
>
    <div>
        <app-logo></app-logo>
        <div class="fw-normal fs-4 pb-3" style="text-align: center; color:rgb(36, 117, 170)">
            Reset Password
            <div *ngIf="mailSent" style="color: rgb(5, 156, 5);">Done!</div>
        </div>
        
        <div class="d-flex justify-content-between">
            <form>
                <!-- Email input -->
                <div *ngIf="!mailSent">
                    <div class="mb-8">
                        <!-- <label class="form-label" for="form1Example1">Email address</label> -->
                        <input 
                          type="email" name="email" id="email" id="email" class="form-control" placeholder="Email"
                          required ngModel #email="ngModel"/>
                        <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Your email is required</div>
                    </div>
                                    
                      <!-- Submit button -->
                      <div class="pt-4 pb-3">
                          <input 
                          class="button" 
                          [disabled]="!(email.valid)" 
                          (click)="onClick(email.value)" 
                          class="btn btn-danger btn-block" 
                          value="Reset Password"/>
                      </div>
                </div>
                
                <div class="alert alert-primary pt-3" *ngIf="mailSent">
                    Reset password link will be sent to your mail shortly. Please check your email.
                </div>
            </form>
        </div>
        </div> 
    </div>
</div>