<div class="pt-2 pb-2">

    <div class="p-2 d-flex align-items-center" style="width:200px;">
        Bio:
    </div>

    <div class="p-2 d-flex align-items-center fw">
        <em>{{ userBio }}</em>
    </div>

    <div class="p-2 d-flex align-items-center" *ngIf="!editBio">
        <button (click)="showEditBio()" class="btn btn-light btn-sm btn-floating"><i class="far fa-edit"></i></button>
    </div>
    
    <div *ngIf = "editBio" class="p-2 d-flex align-items-center">
        <form class="row gy-2 gx-3 align-items-center">
            <!-- Bio input -->
            <div class="form-outline mb-6">
                <textarea class="form-control" name="newBio" id="newBio" rows="6" cols="45"></textarea>
                <label class="form-label" for="newBio">Describe yourself</label>
            </div>
            
            
            <div class="col-auto">
              <button type="submit" class="btn btn-dark btn-sm btn-floating"><i class="far fa-save"></i></button>
            </div>
          </form>
    </div>
    
</div>