<div class="pt-2 pb-2">

    <div class="p-2 d-flex align-items-center" style="width:200px;">
        Education:
    </div>

    <div class="p-2  align-items-center">
        <ul style="margin: 0%;">
            <li *ngFor="let edu of eduQuals">
                <div class="p-1 d-flex align-items-center">
                    <div class="p-1 align-items-center" style="min-width:200px">
                        {{ edu[0]}} : {{ edu[1] }}
                    </div>
                    <div class="p-1 align-items-center">
                        <!-- <a href=""><i class="far fa-trash-alt"></i></a> -->
                        <button (click)="removeSchool()" class="btn btn-danger btn-sm btn-floating"><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
            </li>
        </ul>

        <div class="p-2 d-flex align-items-center" *ngIf="!addLinkClicked">
            Add School&nbsp; &nbsp;<button (click)="showAddSchool()" class="btn btn-light btn-sm btn-floating"><i class="fas fa-plus"></i></button>
        </div>

        <div *ngIf = "addLinkClicked" class="p-2 d-flex align-items-center">
            <form class="row gy-2 gx-3 align-items-center">
                <div class="col-auto">
                  <div class="form-outline">
                    <input type="text" name="newSchool" id="newSchool" class="form-control" />
                    <label class="form-label" for="newSchool">Educational institute</label>
                  </div>
                </div>
                <div class="col-auto">
                    <div class="form-outline">
                      <input type="text" name="newQualification" id="newQualification" class="form-control" />
                      <label class="form-label" for="newQualification">Qualification</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-outline">
                      <input type="url" name="newSchoolLink" id="newSchoolLink" class="form-control" />
                      <label class="form-label" for="newSchoolLink">Institute link (with https://)</label>
                    </div>
                </div>
                
                <div class="col-auto">
                  <button type="submit" class="btn btn-dark btn-sm btn-floating"><i class="far fa-save"></i></button>
                </div>
            </form>
        </div>

    </div>

</div>