<nav-bar></nav-bar>

<div class="container">
    <div class="card" style="align-items: center; box-shadow:none">
        <div class="pt-3">
            <img
            src="{{profileImg}}"
            class="img-fluid rounded-circle"
            alt="Profile-pic"
            style="width: 100px; height:100%;"
            />
        </div>
        <div class="fs-4 fw-normal pt-3">
            {{ userName }}
        </div>
        <button (click)="viewProfile()" type="button" class="btn btn-light btn-rounded">View Profile</button>
    </div>    
    <div class="pt-4">
        <app-edit-image></app-edit-image>
    </div>
    <hr style="margin: 0%;">
    <div>
        <app-edit-name></app-edit-name>
    </div>
    <hr style="margin: 0%;">
    <div>
        <app-edit-bio></app-edit-bio>
    </div>
    <hr style="margin: 0%;">
    <div>
        <app-edit-social></app-edit-social>
    </div>
    <hr style="margin: 0%;">
    <div>
        <app-edit-education></app-edit-education>
    </div>
    <hr style="margin: 0%;">
    <div>
        <app-edit-experience></app-edit-experience>
    </div>
    <hr style="margin: 0%;">
    <div>
        <app-edit-blog></app-edit-blog>
    </div>
    <hr style="margin: 0%;">
    <div>
        <app-edit-skills></app-edit-skills>
    </div>

</div>