<div class="vh-100 vw-100">
    <div
class="d-flex align-items-center justify-content-center p-5 vh-100 vw-100"
style="height: 100%; background-color:rgba(255, 0, 0, 0.247);"
>
    <div class="p-2">
        <div class="d-flex align-items-center justify-content-center pb-4">
            <img
            src="assets/img/StudentProfileLogo.png"
            class="img-fluid"
            alt="Brand"
            style="width:200px; height: 100%;"
            />
        </div>
    
        
        <div 
        class="p-2 row rounded d-flex align-items-center justify-content-center" 
        style="color: rgb(0, 0, 0); background-color:rgba(255, 0, 0, 0.247); height:50px">
            Error 404 - Page Not Found
        </div>

        <div class="p-2 row rounded d-flex align-items-center justify-content-center" style="text-align: center;"><a routerLink="/home">Back to .pdn STUDENT</a></div>

        <hr>
        <div class="justify-content-between text-center p-2">
            <div class="pb-2">
                <a href="#" target="_blank" style="color: rgb(102, 102, 102);">
                    <i class="fas fa-hands-helping"></i> &nbsp; Web Consultation Team
                </a>
            </div>
            <div class="pb-2">
                <a href="#" target="_blank" style="color: rgb(102, 102, 102);">
                    <i class="fas fa-university"></i> &nbsp; University of Peradeniya
                </a>
            </div>
            
        </div>
    </div> 
    </div>
     
</div>
