<div class="pt-2 pb-2">

    <div class="p-2 d-flex align-items-center" style="width:200px;">
        Experience & Achievements:
    </div>

    <div class="p-2 align-items-center">
        <!-- <div class="px-1 fs-4 text-uppercase text-info">Interested in</div> -->
        <div class="row d-inline-flex text-center m-1 justify-content-start align-items-start">
            <div class="col p-1 mb-1 mb-1" *ngFor="let skill of skills">
                <div>
                    <span class="badge rounded-pill bg-success fw-light">
                        {{ skill }}&nbsp;&nbsp;
                        <a onclick ="removeSkill(); return false"><i style="color: aliceblue;" class="fas fa-times"></i></a>
                    </span>
                </div>
            </div>
        </div>

        <div class="p-2 d-flex align-items-center" *ngIf="!addLinkClicked">
            Add skill/ interest&nbsp; &nbsp;<button (click)="showAddSkill()" class="btn btn-light btn-sm btn-floating"><i class="fas fa-plus"></i></button>
        </div>

        <div *ngIf = "addLinkClicked" class="p-2 d-flex align-items-center">
            <form class="row gy-2 gx-3 align-items-center">
                <div class="col-auto">
                  <div class="form-outline">
                    <input type="text" name="newSkill" id="newSkill" class="form-control" />
                    <label class="form-label" for="newSkill">Skill/ Interest</label>
                  </div>
                </div>
                
                <div class="col-auto">
                  <button type="submit" class="btn btn-dark btn-sm btn-floating"><i class="far fa-save"></i></button>
                </div>
            </form>
        </div>

    </div>

</div>