<div class="pt-2 pb-2">
    <div class="p-2 d-flex align-items-center" style="width:200px;">
        Profile Image:
    </div>

    <div class="d-flex">
      <div class="p-2 d-flex align-items-center">
        <img
        src= "{{ profileImg }}"
        class="img-fluid rounded-circle"
        alt="Profile-pic"
        style="width: 50px; height:100%;"
        />
      </div>

      <div class="p-2 d-flex align-items-center" *ngIf="!showUploadImg">
          <button (click)="openUploadImg()" class="btn btn-light btn-sm btn-floating"><i class="far fa-edit"></i></button>
      </div>
      
      <div *ngIf = "showUploadImg" class="p-2 d-flex align-items-center">
          <form class="row gy-2 gx-3 align-items-center">
              <div class="col-auto">
                <div class="form-outline">
                  <input type="text" name="profImgAddress" id="profImgAddress" class="form-control" />
                  <label class="form-label" for="profImgAddress"><i class="fas fa-link"></i> &nbsp; Image URL here</label>
                </div>
              </div>
              
              <div class="col-auto">
                <button type="submit" class="btn btn-dark btn-sm btn-floating"><i class="fas fa-cloud-upload-alt"></i></button>
              </div>
            </form>
      </div>
    </div>
    
</div>