<div class="pt-2 pb-2">

    <div class="p-2 d-flex align-items-center" style="width:200px;">
        Social Profiles:
    </div>

    <div class="p-2  align-items-center">
        <ul style="margin: 0%;">
            <li *ngFor="let account of socialAccounts">
                <div class="p-1 d-flex align-items-center">
                    <div class="p-1 align-items-center" style="min-width:200px">
                        {{ account[0]}} : {{ account[1] }}
                    </div>
                    <div class="p-1 align-items-center">
                        <!-- <a href=""><i class="far fa-trash-alt"></i></a> -->
                        <button (click)="removeLink()" class="btn btn-danger btn-sm btn-floating"><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
            </li>
        </ul>

        <div class="p-2 d-flex align-items-center" *ngIf="!addLinkClicked">
            Add account&nbsp; &nbsp;<button (click)="showAddLink()" class="btn btn-light btn-sm btn-floating"><i class="fas fa-plus"></i></button>
        </div>

        <div *ngIf = "addLinkClicked" class="p-2 d-flex align-items-center">
            <form class="row gy-2 gx-3 align-items-center">
                <div class="col-auto">
                  <div class="form-outline">
                    <input type="text" name="newSocialLink" id="newSocialLink" class="form-control" />
                    <label class="form-label" for="newSocialLink"><i class="fas fa-link"></i> &nbsp;Profile link</label>
                  </div>
                </div>
                <div class="col-auto">
                    <div class="form-outline">
                        <select class="form-select form-select-sm" aria-label="Select Social Media">
                            <option *ngFor="let social_platform of available_social_media">
                                {{ social_platform }}
                            </option>
                        </select>
                    </div>
                </div>
                
                <div class="col-auto">
                  <button type="submit" class="btn btn-dark btn-sm btn-floating"><i class="far fa-save"></i></button>
                </div>
            </form>
        </div>

    </div>

</div>