<div class="pt-2 pb-2">

    <div class="p-2 d-flex align-items-center" style="width:200px;">
        My Blogs:
    </div>

    <div class="p-2 align-items-center">
        <ul style="margin: 0%;">
            <li *ngFor="let blog of blogLinks">
                <div class="p-1 d-flex align-items-center">
                    <div class="align-items-center" style="min-width:200px">
                        {{ blog }}
                    </div>
                    <div class="p-1 align-items-center">
                        <button (click)="removeBlog()" class="btn btn-danger btn-sm btn-floating"><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
            </li>
        </ul>

        <div class="p-2 d-flex align-items-center" *ngIf="!addLinkClicked">
            Add new blog&nbsp; &nbsp;<button (click)="showAddBlog()" class="btn btn-light btn-sm btn-floating"><i class="fas fa-plus"></i></button>
        </div>

        <div *ngIf = "addLinkClicked" class="p-2 d-flex align-items-center">
            <form class="row gy-2 gx-3 align-items-center">
                <div class="col-auto">
                    <div class="form-outline" style="min-width: 250px;">
                      <input type="url" name="newBlogLink" id="newBlogLink" class="form-control" />
                      <label class="form-label" for="newBlogLink">Blog link (with https://)</label>
                    </div>
                </div>
                
                <div class="col-auto">
                  <button type="submit" class="btn btn-dark btn-sm btn-floating"><i class="far fa-save"></i></button>
                </div>
            </form>
        </div>

    </div>

</div>