<nav-bar></nav-bar>
<div class="container">
    <div class="row pt-lg-5 pb-5">
        <div class="col-md-5">
            <app-profile-card></app-profile-card>
        </div>
        
        <div class="col-md-7">
            <app-stu-info-collection id="education"></app-stu-info-collection>
            <app-interests id="interests"></app-interests>
            <app-stu-info-collection id="experience"></app-stu-info-collection>
            <app-blog-collection id="blog"></app-blog-collection>
        </div>
    </div>
    
</div>


