<div class="pt-2 pb-2">

    <div class="p-2 d-flex align-items-center" style="width:200px;">
        Experience & Achievements:
    </div>

    <div class="p-2 align-items-center">
        <ul style="margin: 0%;">
            <li *ngFor="let exp of experiences">
                <div class="p-1 d-flex align-items-center">
                    <div class="align-items-center" style="min-width:200px">
                        {{ exp[0]}} : {{ exp[1] }}
                    </div>
                    <div class="p-1 align-items-center">
                        <!-- <a href=""><i class="far fa-trash-alt"></i></a> -->
                        <button (click)="removeExperience()" class="btn btn-danger btn-sm btn-floating"><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
            </li>
        </ul>

        <div class="p-2 d-flex align-items-center" *ngIf="!addLinkClicked">
            Add Experience&nbsp; &nbsp;<button (click)="showAddExp()" class="btn btn-light btn-sm btn-floating"><i class="fas fa-plus"></i></button>
        </div>

        <div *ngIf = "addLinkClicked" class="p-2 d-flex align-items-center">
            <form class="row gy-2 gx-3 align-items-center">
                <div class="col-auto">
                  <div class="form-outline">
                    <input type="text" name="newExp" id="newExp" class="form-control" />
                    <label class="form-label" for="newExp">Experience/ Skill</label>
                  </div>
                </div>
                <div class="col-auto">
                    <div class="form-outline">
                      <input type="text" name="credentialProvider" id="credentialProvider" class="form-control" />
                      <label class="form-label" for="credentialProvider">Certifier</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-outline" style="min-width: 250px;">
                      <input type="url" name="newCredentialLink" id="newCredentialLink" class="form-control" />
                      <label class="form-label" for="newCredentialLink">Credential link (with https://)</label>
                    </div>
                </div>
                
                <div class="col-auto">
                  <button type="submit" class="btn btn-dark btn-sm btn-floating"><i class="far fa-save"></i></button>
                </div>
            </form>
        </div>

    </div>

</div>