<div class="p-2 text-center" >
    <div class="fs-3 fw-normal">Hanika</div>
    <div class="fs-6 fw-light" style="color: rgb(143, 142, 142);">Hanika Ratnayake</div>
    <div class="fs-5 fw-normal" style="color: rgb(143, 142, 142);">Faculty</div>
    <div class="fs-5 fw-normal" style="color: rgb(143, 142, 142);">Department</div>
    <div class="fs-5 fw-normal" style="color: rgb(143, 142, 142);">Address</div>
    <div id="about" class="pt-3 pb-3">
        <div class="fs-5 fw-normal">Bio</div>
        <div class="fs-6 fw-light" style="color: rgb(143, 142, 142);">Lorem ipsum dolor sit amet, ei purto tamquam ceteros his, eos in graece posidonium. Ex nullam vidisse salutatus sed, ea persius phaedrum.</div>
    </div>

    <div class="pt-3 pb-3">
        <div class="d-flex align-items-center justify-content-center">
            <!-- Facebook -->
            <div class="p-1">
                <a 
                class="btn btn-primary btn-sm" 
                style="background-color: #1778F2" 
                href="#!" 
                role="button"
                >
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
    
            <!-- Instagram -->
            <div class="p-1">
                <a 
                class="btn btn-primary btn-sm" 
                style="background-color: #ac2bac" 
                href="#!" 
                role="button"
                >
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
    
            <!-- Linkedin -->
            <div class="p-1">
                <a 
                class="btn btn-primary btn-sm" 
                style="background-color: #0082ca" 
                href="#!" 
                role="button"
                >
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
    
            <!-- Twitter -->
            <div class="p-1">
                <a 
                class="btn btn-primary btn-sm" 
                style="background-color: #55acee" 
                href="#!" 
                role="button"
                >
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
    
    
        </div>
        <div class="d-flex align-items-center justify-content-center">
    
            <!-- Stackoverflow -->
            <div class="p-1">
                <a 
                class="btn btn-primary btn-sm" 
                style="background-color: #ffac44" 
                href="#!" 
                role="button"
                >
                    <i class="fab fa-stack-overflow"></i>
                </a>
            </div>
    
            <!-- Github -->
            <div class="p-1">
                <a 
                class="btn btn-primary btn-sm" 
                style="background-color: #333333" 
                href="#!" 
                role="button"
                >
                    <i class="fab fa-github"></i>
                </a>
            </div>
    
            <!-- Hackerrank -->
            <div class="p-1">
                <a 
                class="btn btn-primary btn-sm" 
                style="background-color: #1ad477" 
                href="#!" 
                role="button"
                >
                    <i class="fab fa-hackerrank"></i>
                </a>
            </div>
        </div>
    </div>
    

</div>